#btn{
    width: 78%;
    text-align: start;
    margin-bottom: 0.2rem;
    background:none;
    border-style: none;
    display: flex;
}
#btn:hover{
    background: #0a84ff6c;
    text-decoration: underline #0a64ff;
    color: #0a64ff;
}
.logos{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
span{
    color: black;
}
span:hover{
    color: #0a64ff;
}
#botones{
    display: flex;
    flex-direction: column;
}
#btn-redes{
    width: 48px;
    height: 40px;
    color: none;
}

#contenido-redes{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}