#izq{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
}

#der{
    width:20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-brand{
    margin-right: -2rem;
}
#logo{
    width: 48px;
    height: 40px;
}